# Python
__pycache__/
__pycache__
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
*.sqlite3
*.db
*.db-journal

# FastAPI/Backend
backend/.env
backend/data/
backend/passwords.db

# Node/React
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
frontend/build/
frontend/.env

# OS files
.DS_Store
Thumbs.db

# VSCode settings (optional)
.vscode/
